.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #56a5ec;
    background-color: white;
    /* padding: 20px; */
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem #56a5ec;
}

.choice-prefix {
    padding: 1.5rem 3rem;
    background-color: #56a5ec;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    flex-direction: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}